.maincontainer  {
  display: flex;
  flex-direction: column;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.suggestionsContainer {
  position: relative;
}

.suggestions {
  position: absolute;
  height: 200px;
  width: 100%;
  top: 100%;
}

.clickable {
  cursor: pointer;
}

.hover {
    background-color: aliceblue;
}